<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Match</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/CSS/style.scss">

    
</head>
<body>
    <header th:replace="header.html :: top">

    </header>
    <main>
           <!-- <div class="alert alert-success" role="alert">
                <h4 th:text = "${nameConnect}" class="alert-heading"></h4>
                <p>Whaou ! tu as trouvé cette personne de toute horreur ! tu me dégoute de joie ! </p>
            </div>-->
    
            <form>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Choose...</option>
                            <option th:each="list : ${film}" th:text="${list.getTitle()}" value="1"></option>
                        </select>
                    </div>
                    <input type="button" class="btn btn-success regarderFilm" values="Seen More">
                </div>
            </form>
            <!--

            
            <div class="card movie-card">
                <div class="more-info-card">
                    <img th:src="@{${list.posterUrl}}" class="card-img-top" alt="..."/>  
                </div>
                <h1 th:text="${list.getTitle()}">Morpionibus</h1>
                <p th:text="${list.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe enim autem dolores nobis unde dicta voluptatibus ipsa porro cumque. Alias hic optio quo. Porro ducimus exercitationem, quidem sint sit explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ab dicta at, numquam nobis consectetur. Pariatur, recusandae ipsum? Incidunt quaerat ratione illo sint dolorem repudiandae nulla assumenda officiis corporis explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci vitae quia expedita, tenetur iste quibusdam modi, ducimus nihil velit consectetur itaque dolore magnam sapiente necessitatibus sint deleniti similique corporis facilis.</p>
                <input class="slideUp btn btn-primary col-12 mx-auto" type="button" value="Voir moins">
            </div>
             

            <ul th:each="list : ${film}">
                <li th:text="${list.getTitle()}">title</li>
                <li th:text="${list.director}">director</li>
                <li th:text="${list.year}">Year</li>
  	            <img th:src="@{${list.posterUrl}}"/>
            </ul>  -->


            <p>choisi le film que tu vas partager avec lui</p>
            <script src="swipe.js"></script>
        </main>
    </body>
</html>